numpy
opencv-python-headless
onnxruntime
torch
torchvision
matplotlib
Pillow
pdfplumber
huggingface_hub
shapely
pyclipper
ruamel.yaml
cachetools
filelock
pycryptodome
requests
six
trio
fastapi
uvicorn
python-multipart
